<p id="notice"><%= notice %></p>

<div class="col-md-9">
  <% @restaurants.each do |restaurant| %>
      <div class="col-md-6 col-sm-12">
        <div class="restaurant">
          <%= link_to (image_tag "/uploads/restaurants/#{restaurant.image}"),
                      show_restaurant_path(restaurant)%>
          <%= restaurant.name %>
          <%= restaurant.description %>
        </div>
      </div>

  <% end %>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Cart
      </div>
    	<div class="panel-body">
    	   Panel body ...
    	</div>
    </div>
</div>