<div class="row">
  <div class="col-md-6">
    <div class="div">
      <%= image_tag "/uploads/meals/#{@meal.image}", style:"max-width:100%" %>
    </div>

  </div>
  <div class="col-md-6">
    <h2><%= @meal.name %></h2>
    <strong><%= @meal.price %></strong>
    <div class="well">
      <p><%= @meal.description %></p>
    </div>
  </div>
</div>

<div class="row">

</div>


